.header{
    height: 55px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position: fixed;
    top: 0;
    left: 0; 
    right: 0;
    background-color: white;

    border-bottom-width:1px ;
    border-style: solid;
    border-color: lightgray;

    z-index: 100;
}
.leftsection{
    /* background-color: green; */
    /* width: 150px; */
    display: flex;
    align-items: center;
}

.hamburgermenu{
    height: 24px;
    margin-left: 24px;
    margin-right: 24px;
}

.youtubelogo{
    height: 20px;
}

.middlesection{
    /* background-color: red; */
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 400px; 
    display: flex;
    align-items: center;
}

.searchbar{
    flex: 1;
    width: 0;
    height: 36px;
    font-size: 16px;
    padding-left: 10px;
    font-family: roboto,Arial;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192,192,192);
    border-radius: 2px;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, .05)
}

.searchbar::placeholder{

}

.searchbutton{
    height: 40px;
    width: 66px;
    background-color: rgb(240, 240, 240);
    border-radius: 1px;
    border-style: solid;
    border-color: rgb(192,192,192);
    margin-left: -1px;
    margin-right: 10px;
}
.searchbutton,
.voicebutton,
.uploadcontainer{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchbutton .tooltip,
.voicebutton .tooltip,
.uploadcontainer .tooltip{
    position: absolute;
    background-color: gray;
    color: white;
    font-size: 12px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    bottom: -30px;
    opacity: 0%;
    transform: opacity 0.15;
    pointer-events: none;
    white-space: nowrap;
    font-family: roboto,arial;
}
.searchbutton:hover .tooltip,
.voicebutton:hover .tooltip,
.uploadcontainer:hover .tooltip{
    opacity: 100%;
}


.searchicon{
    height: 25px;
}

.voicebutton{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
    background-color: rgb(240, 240, 240);
}
.voiceicon{
    height: 24px;
}

.rightsection{
    /* background-color: blue; */
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
    flex-shrink: 0;
}
.uploadlogo{
    height: 24px;
}
.appslogo{
    height: 24px;
}
.notificationslogo{
    height: 24px;
}
.notificationsiconcontainer{
    position:relative;
}
.notificationcount{
    position: absolute;
    top: -2px;
    right: -5px;
    background-color: rgb(165, 0, 0);
    color: white;
    font-family: roboto,arial;
    font-size: 11px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 10px;
}
.currentchannelpic{
    height:32px;
    border-radius: 16px;
}
