.sidebar{
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    background-color: white;
    width: 72px;
    z-index: 200;
    padding-top:5px ;
}
.sidelink{
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sidelink:hover{
    background-color: lightgrey;
}
.sidelink img{
    height: 24px;
    margin-bottom: 4px;
}
.sidelink div{
    font-family: roboto;
    font-size: 10px;
}
