.videogrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
}
@media (max-width: 900px)
{
    .videogrid{
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 901px) and (max-width: 1399px)
{
    .videogrid{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1400px)
{
    .videogrid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.thumbnail{
    width: 100%;
}

.thumbnailrow{
    margin-bottom: 8px;
    position: relative;
}
.videotitle{
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 10px;
}

.videoinfogrid{ 
    display: grid;
    grid-template-columns: 50px 1fr;
}

.channelpic{
}

.videoinfo{
}
.profilepic{
    width: 36px;
    border-radius: 20px;
}
.videoauthor,.videostats{
    font-size: 12px;
    color: rgb(96, 96,96 );
}
.videoauthor{
    margin-bottom: 4px;
}
.videotime{
    position: absolute;
    background-color: black;
    color: white;
    bottom: 8px;
    right: 5px;
    font-family: roboto,ariel;
    font-size: 12px;
    padding: 4px;
    font-weight: 500;
    border-radius: 2px;
}